<!DOCTYPE html>
<html>
  <head>
    <title>ShopWala</title>
      <link href="static/css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
 <nav>
      <div class="topnav">
  <a href="/">Home</a>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
  <a href="/about">About</a>
          <a href="/cart"><i class="fa fa-shopping-cart" style="font-size:24px"></i></a>
</div>
    </nav>
