
   {% include "header.html" %}
    <h1 class="hind">ShopWala</h1>
    <p>
      ShopWala is your one-stop shop for all your online shopping needs. Browse our selection of products and make purchases with ease.
    </p>
   <br>
   <div>
       <div class="card">
  <img src="static/img/tshirt.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Puma T-shirt</h1>
  <p class="price">$00.00</p>
  <p>white athlete t-shirt</p>
       <p>cotton blend</p>
       <p>slim fit</p>
  <p><button>Add to Cart</button></p>
    </div>
   <div class="card card1">
  <img src="static/img/Cob.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Cob Shirt</h1>
  <p class="price">$24.99</p>
  <p>Pure cotton shirt for men</p>
       <p>slim fit</p>
  <p><button href="/buy/<int:id>">Add to Cart</button></p>
    </div>
   </div>

    {% include "footer.html" %}

